{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block content %}
<div class="page">
  <h1>{{ article.title }}</h1>    
  {{ article.content }}
  {% set attendees = [] %}
  {% for tag in article.tags if tag.name.startswith('@') %}
    {% do attendees.append(tag.name) %}
  {% endfor %}
  {% if attendees|length > 0 %}
    <h2>حاضرین در جلسه</h2>
    <ul>
      {% for attendee in attendees %}
        <li class="col-md-3 col-sm-6 col-xs-6" >{{ attendee }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
