{% extends "base.html" %}
{% block content %}
<div class="reports">
  {% block content_title %}{% endblock %}
  {% for article in articles_page.object_list %}
  <div class="report col-md-12 col-sm-12 col-xs-12 {{ 'hidden' if loop.index > 10 }}">
    <h2 class="text-center">
      <a class href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </h2>
    {% if article.date %}
    <p class="timer text-muted text-center" title="{{ article.date }}">{{ article.date }}</p>
    {% endif %}
    <p>
      {{ article.content | mlug_summary }}
    </p>
    <div class="text-right">
      <a href="/{{ article.url }}" class="viewfull">مشاهده گزارش کامل جلسه</a>
    </div>
    <hr/>
  </div>
  {% endfor %}
  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
</div>
{% endblock content %}
