{% extends "base.html" %}
{% block og %}
<meta property="og:title" content="{{ SITETITLE }}" />
<meta property="og:description" content="{{ page.title }}, {{ page.timer_printable_date }}, {{ page.location_address }}" />
<meta property="og:url" content="{{ SITEURL }}/" />
<meta property="og:image" content="{{ SITEURL }}/theme/images/MashhadLUGtop.png" />
{% endblock %}
{% block navbar %}
<div class="welcome">
  <div class="container">
    <div class='row'>
      <div class=''>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <div class="carousel-inner">
            {% for quote in QUOTES %}
            <div class="item {{ 'active' if loop.index==1 }}">
              <blockquote>
                <div class="row">
                  {% if quote.avatar %}
                  <div class="col-md-2 text-center hidden-xs hidden-sm">
                    <img class="img-circle img-responsive" src="{{ quote.avatar }}">
                  </div>
                  {% endif %}
                  <div class="col-md-10 {{ 'col-md-offset-1' if not quote.avatar }}">
                    {{ quote.text }}
                    <small>{{ quote.author }}</small>
                  </div>
                </div>
              </blockquote>
            </div>
            {% endfor %}
          </div>
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      //Set the carousel options
      $('#quote-carousel').carousel({
        pause: true,
        interval: 8000,
      });
    });
  </script>
</div>
{% endblock %}
{% block content %}
<div class="container content">
  <div class="row title">
    <h1 class="text-center">{{ page.title }}</h1>
    {% if page.timer_due_date %}
    <ul class="list-unstyled event-timer" data-time="{{ page.timer_due_date }}">
      <li>
        {snn}
        <span>ثانیه</span>
      </li>
      <li>
        {mnn}
        <span>دقیقه</span>
      </li>
      <li>
        {hn}
        <span>ساعت</span>
      </li>
      <li>
        {dn}
        <span>روز</span>
      </li>
    </ul>
    <p class="text-center">{{ page.timer_printable_date }}</p>
    {% endif %}
  </div>
  <div class="row description">
    <div class="col-md-8 right_content">
      {{ page.content }}
    </div>
    <div class="col-md-4 left_content">
      {% if page.map_thumb %}
      <img class="img-responsive" src="{{ page.map_thumb }}" alt="" />
      {% elif page.map_osm %}
      <iframe frameborder="0" height="300" marginheight="0" marginwidth="0" scrolling="no" src="{{ page.map_osm }}" width="100%"></iframe>
      {% endif %}
  <p class="text-mute">
    برای نمایی بزرگتر
    <a target="_new" href="{{ page.map_url  }}">اینجا</a>
    را کلیک کنید.
  </p>
      {% if page.location_address %}
  <p>{{ page.location_address }}</p>
  {% if page.location_routes %}
    <ul class="">
    {% for route in page.location_routes %}
      <li>{{ route }}</li>
    {% endfor %}
    </ul>
  {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<div class="container content">
  <div class="row latest_reports">
    <ul class="list-unstyled">
      {% for article in articles | selectattr('category', 'equalto', 'reports') | batch(3) | first %}
      <li class="col-md-4 col-sm-4 col-xs-12">
        <h4>
          <a href="{{ article.url }}">{{ article.title }}</a>
          <small class="timer text-muted" title="{{ article.date }}">{{ article.date }}</small>
        </h4>
        <p>
          {{ article.content | mlug_summary }}
        </p>
        <div class="text-left">
          <a href="{{ article.url }}" class="viewfull">مشاهده گزارش کامل جلسه</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row text-center">
    <a href="{{ SITEURL }}/reports/" class="btn btn-default">مشاهده لیست کامل اخبار و گزارشات گروه</a>
  </div>
</div>
{% endblock content %}
